process {
    withName:fastqc_pre_fastp {
        container = 'rnaseq-docker'
    }
    withName:fastp {
        container = 'rnaseq-docker'
    }
    withName:fastqc_post_fastp {
        container = 'rnaseq-docker'
    }
    withName:bwa_index {
        container = 'rnaseq-docker'
    }
    withName:bwa_mem {
        container = 'rnaseq-docker'
    }
    withName:samtools_get_bam {
        container = 'rnaseq-docker'
    }
    withName:samtools_get_flagstat {
        container = 'rnaseq-docker'
    }
    withName:rna_spades_assembly {
        container = 'rnaseq-docker'
    }
    withName:rna_quast {
        container = 'rnaseq-docker'
    }
}
docker {
    enabled = true
    docker.runOptions="-u \$(id -u):\$(id -g) -v $baseDir:$baseDir"
}

cleanup = true

// mail {
//     smtp.host = 'smtp***'
//     smtp.port = 465
//     smtp.user = '<email_address>'
// }

executor {
    name = 'local'
    cpus = 20
    memory = '40 GB'
}
